body
{
 height: 1000px;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
}
img {
    width: inherit;
}
.row
{
    height: 100%;
    margin-right: 0;
    margin-left: 0;
}

/*--start header--*/
header{
    position: relative;
    background-color: #415f77;
    height: auto;
    display: block;
}
header .headerRow1{
    height: 66px;
}
header .headerRow2{
    height: 100px;
    background-color: #fff;
    padding-left: 150px;
}
.headerRow2 .imgDiv{
    padding-left: 0;
}
.headerRow2 .imgDiv img{
    margin-top: 15px;
    height: 70px;
    width: auto;
}
.headerRow2 .telDiv , .headerRow2 .locationDiv{
    padding-top: 15px; 
}
.headerRow2 i{
    color: #f33456;
}
.headerRow2 p:nth-child(2){
    opacity: 0.6;
}
.socialLink{
    color: #fff;
}
.socialLink:hover{
    color: #fffc;
}
.social li{
    display: inline;
}
.langDropdown{
    background-color: #f33456;
    border-color: #f33456;
}
.langDropdown:hover{
    background-color: #ed5d77e6;
    border-color:##ed5d77e6;
}

.socialBar , .langBar{
    display: inline-block;
    padding-left: 150px;
    height: 100%;
}
.langBar{
    padding: 0;
}
.socialBar ul{
    margin-top:20.5px ;
    height: auto;
}
.langBar Button{
    margin-top:12.5px ;
    height: 40px;
}
.social li {
	margin-right: 20px;
}
nav{
    height: 50px;
    background-color: #2d2d2d;
    padding-left: 60px;
}
nav ul{
    height: 100%;
}
nav a{
    color: #fff;
    margin-top: 5px;
}
nav li:hover{
    background-color: #484848;
}
nav li.active{
    background-color: #484848;
}

nav a:hover{
    color: #fff;
}
nav .row{
    height: 100%;
}
nav .loginBtn {
	height: 34px;
	margin-top: 8px;
	font-size: 15px;
    background-color:#f33456;
}
/*--End header--*/

footer {
	background-color: #2d2d2d;
	padding: 60px 70px 10px 70px;
    color: #fff;
    height: 250px;
}
footer .col-md-6 > h4{
    margin-bottom: 20px;
}
footer .col-md-6 > p{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #8c8c8c;
}
footer .col-md-6 {
	padding-right: 8%;
}
footer .col-md-6 button {
	background-color: #2cb5ea;
	color: #fff;
	border-color: #2cb5ea;
}
footer .col-md-3 div h4 {
	margin-bottom: 20px;
}
footer .col-md-3 div p {
	margin-bottom: 0;
	color: #b4b4b4;
}
footer .col-md-3 ul li {
	display: inline;
	padding: 0 16px;
	border-right: 1px solid #484848;
	font-size: 12px;
	color: #8c8c8c;
}
footer .col-md-3 ul li:last-of-type{
    border: none;
}
footer .col-md-3 ul {
	position: absolute;
	bottom: 0;
}
nav .col-md-4 {
	padding-left: 100px;
}