h2{
	text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}
table, th, td
{
 border: 1px solid black;
 border-collapse: collapse;

}
th, td
 {
  padding: 10px 30px;
  text-align: center;
 }
 th {
	font-size: large;
	font-family: initial;
}
table 
{
    font-family: "Times New Roman", "Times", "serif";
    border-spacing: 5px;
    margin: 0 auto;
	margin-bottom: 50px;
}
th.A
{
	color: #f33456;
	font-size: larger;
}
img.truefalseIcon{
    width: 25px;
}
th[rowspan] {
	color: #2cb5ea;
}
th.BN_th{
    color: #f33456;
}