body
{
 height: 1000px;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
}
img {
    width: inherit;
}
.row
{
    height: 100%;
    margin-right: 0;
    margin-left: 0;
}

/*--start blood drive--*/
.bloodDriveSec{
    background: url('../img/bloodbags.jpg');
    height: 450px;
    background-size: cover;
    width: 100%;
}
.bloodDriveSec div{
    width: 50%;
    display: block;
    background-color: #415f77cc;
    height: 100%;
    text-align: center;
    padding-top: 160px;
    color: #fff;
}
.bloodDriveSec p{
    font-size: 35px;
    margin-bottom: 0;
}
.bloodDriveSec button{
    margin-top: 40px;
}
/*--End blood drive--*/
/*-- start services section --*/
.servicesSec{
    padding: 40px 70px 10px 70px;
}
.servicesSec h1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: bold;
	color: #f33456;
}
.servicesSec .row .col-md-4 > div {
    width: 97%;
    box-shadow: #081a2433 1px 1px 5px;
    border-radius: 6px;   
    padding: 20px 10px;
    margin: 0 auto;
}
.servicesRow1 , .servicesRow2{
    margin-bottom: 40px;
}
.servicesSec .col-md-9 p:first-of-type{
    color: #2cb5ea;
    font-size: 20px;
    font-weight: bold;
}
.servicesSec .col-md-9 p:nth-of-type(2){
    font-size: 15px;
    opacity: .7;
}
.servicesSec .col-md-9 a {
	color: #f33456;
}
/*-- end services section --*/
.statSec{
    background: url('../img/medical-care-1.jpg');
    background-size: cover;
    height: 250px;
    padding: 40px 70px;
    background-position: center;
    position: relative
}
.statSec .row .col-md-3 > div {
	width: 86%;
	margin: 0 auto;
	color: #fff;
}
.statSec::before {
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
	content: '';
	bottom: 0;
	right: 0;
	opacity: .5;
}
.statSec > div{
	margin-top: 28px;
}
.statSec i{
    font-size: 26px;   
}
.statSec img{
    width: 28px;
}
.statSec .col-md-9 > p:first-child{
	font-size: 44px;
	font-weight: bold;
}
.statSec .col-md-3 .col-md-3{
    padding-top: 24px;
}
.statSec .col-md-9 > p:first-child::after {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #2cb5ea;
	position: absolute;
	left: 16px;
	bottom: 43px;
}
/*-- End stat section --*/
.donateLocationSec{
    padding: 60px 40px;
}
.donateLocationSec img {
	width: 90%;
	margin: 0 5%;
}
.donateLocationSec .col-md-5 div{
    height: 60%;
    margin: 20% 0;
    width: 80%;
}
.donateLocationSec .col-md-5 h2{
    font-weight: bold;
    margin-bottom: 35px;    
}
.donateLocationSec .col-md-5 div p {
    color: #969696;
    margin-bottom: 2px
}
.donateLocationSec button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}
}
.donateLocationSec button i{
 margin-left: 10px;   
}
/*-- End donate locatoin section --*/
