body
{
 height: 1000px;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
}
img {
    width: inherit;
}
/*--start header--*/
header{
    position: relative;
    background-color: #415f77;
    height: auto;
    display: block;
}
header .headerRow1{
    height: 66px;
}
header .headerRow2{
    height: 100px;
    background-color: #fff;
    padding-left: 150px;
}
.headerRow2 .imgDiv{
    padding-left: 0;
}
.headerRow2 .imgDiv img{
    margin-top: 15px;
    height: 70px;
    width: auto;
}
.headerRow2 .telDiv , .headerRow2 .locationDiv{
    padding-top: 15px; 
}
.headerRow2 i{
    color: #f33456;
}
.headerRow2 p:nth-child(2){
    opacity: 0.6;
}
.socialLink{
    color: #fff;
}
.socialLink:hover{
    color: #fffc;
}
.social li{
    display: inline;
}
.langDropdown{
    background-color: #f33456;
    border-color: #f33456;
}
.langDropdown:hover{
    background-color: #ed5d77e6;
    border-color:##ed5d77e6;
}

.socialBar , .langBar{
    display: inline-block;
    padding-left: 150px;
    height: 100%;
}
.langBar{
    padding: 0;
}
.socialBar ul{
    margin-top:20.5px ;
    height: auto;
}
.langBar Button{
    margin-top:12.5px ;
    height: 40px;
}
.social li {
	margin-right: 20px;
}
nav{
    height: 50px;
    background-color: #272727;
    padding-left: 60px;
}
nav ul{
    height: 100%;
}
nav a{
    color: #fff;
    margin-top: 5px;
}
nav li:hover{
    background-color: #484848;
}
nav li.active{
    background-color: #484848;
}

nav a:hover{
    color: #fff;
}
nav .row{
    height: 100%;
}
nav .loginBtn {
	height: 34px;
	margin-top: 8px;
	font-size: 15px;
    background-color:#f33456;
}
/*--End header--*/

/*--start blood drive--*/
.bloodDriveSec{
    background: url('../img/bloodbags.jpg');
    height: 450px;
    background-size: cover;
    width: 100%;
}
.bloodDriveSec div{
    width: 50%;
    display: block;
    background-color: #415f77cc;
    height: 100%;
    text-align: center;
    padding-top: 160px;
    color: #fff;
}
.bloodDriveSec p{
    font-size: 35px;
    margin-bottom: 0;
}
.bloodDriveSec button{
    margin-top: 40px;
}
/*--End blood drive--*/
/*-- start services section --*/
.servicesSec{
    padding: 40px 70px;
}
.servicesSec h1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: bold;
	color: #f33456;
}
.servicesSec .row .col-md-4 > div {
    width: 86%;
    box-shadow: #081a2433 1px 1px 5px;
    border-radius: 6px;   
    padding: 20px 10px;
    margin: 0 auto;
}
.servicesRow1 , .servicesRow2{
    margin-bottom: 40px;
}
.servicesSec .col-md-9 p:first-of-type{
    color: #2cb5ea;
    font-size: 20px;
    font-weight: bold;
}
.servicesSec .col-md-9 p:nth-of-type(2){
    font-size: 15px;
    opacity: .7;
}
.servicesSec .col-md-9 a {
	color: #f33456;
}
/*-- end services section --*/